#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.delete:hover {
  color: #c82333;
}

.primary:hover {
  color: #0069d9;
}

.info:hover {
  color: #138496;
}

.secondary:hover {
  color: #6c757d;
}

.success:hover {
  color: #218838;
}


.back-delete {
  background-color: #c82333;
  border-color: #c82333;
}

.back-primary {
  background-color: #0069d9;
  border-color: #0069d9;

}

.back-info {
  background-color: #138496;
  border-color: #138496;
}

.back-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.back-success {
  background-color: #218838;
  border-color: #218838;
}