*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-size: 10px;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(162, 157, 255);
  background: linear-gradient(
    90deg,
    rgba(162, 157, 255, 1) 0%,
    rgba(184, 172, 226, 1) 87%,
    rgba(193, 174, 255, 1) 100%
  );
}

$danger-color: #c82333;
$success-color: #218838;
$primary-color: #0069d9;
$warning-color: #ffc107;
$secondary-color: #6c757d;
$info-color: #138496;

a {
  text-decoration: none;
  color: black;
  :visited {
    color: black;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.fail-colort-text {
  color: #d60419;
}

.success-colort-text {
  color: #198754;
}

.input-success {
  border-color: #198754;
  border-width: 2px;
  border-style: solid;
}

.input-fail {
  border-color: #dc3545;
  border-width: 2px;
  border-style: solid;
}

.input-success:focus {
  outline-width: 3px;
  outline-color: #1987548f;
  outline-style: solid;
}
.input-fail:focus {
  outline-width: 3px;
  outline-color: #dc354691;
  outline-style: solid;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.delete:hover {
  color: $danger-color;
}

.primary:hover {
  color: $primary-color;
}

.info:hover {
  color: $info-color;
}

.secondary:hover {
  color: $secondary-color;
}

.success:hover {
  color: $success-color;
}

.warning:hover {
  color: $warning-color;
}

.back-delete {
  background-color: $danger-color;
  border-color: $danger-color;
}

.back-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.back-info {
  background-color: $info-color;
  border-color: $info-color;
}

.back-secondary {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.back-success {
  background-color: $success-color;
  border-color: $success-color;
}

.back-warning {
  background-color: $warning-color;
  border-color: $warning-color;
}

.t10 {
  font-size: 1.1rem;
}
.t20 {
  font-size: 1.2rem;
}
.t30 {
  font-size: 1.3rem;
}
.t40 {
  font-size: 1.4rem;
}
.t50 {
  font-size: 1.5rem;
}
.t60 {
  font-size: 1.6rem;
}
.t70 {
  font-size: 1.7rem;
}
.t80 {
  font-size: 1.8rem;
}
.t90 {
  font-size: 1.9rem;
}
.t100 {
  font-size: 2rem;
}
.pointer {
  cursor: pointer;
}
.t-center {
  text-align: center;
}
