.task-body {
  border-color: rgba(128, 128, 128, 0.5);
  border-style: none solid solid solid;
  display: flex;
  margin-top: -12px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(220, 220, 220);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.remove-bottom-border {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.task-body-content-wraper {
  padding: 10px;
  display: flex;
  width: 100%;
  height: 70vh;
  .task-body-content {
    display: flex;
    flex-direction: column;
    &-text {
      width: 95%;
      max-width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
    &-button {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 5px;
    }
    .task-priority {
      font-size: 1rem;
      padding-left: 20px;
      padding-bottom: 10px;
    }
  }
}
