.task-visibility {
    font-size: 1rem;
    padding: 10px;
}

.task-header-manager {
    display: flex;
    justify-content: space-evenly;
    background-color: #bbbbbb;
    padding: 13px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.remove-bottom-border >.task-header-manager {
    border-bottom-right-radius: 0px;
}