.notification {
  position: absolute;
  background: #fff;
  transition: 0.3s ease;
  margin: 0 0 6px;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #999;
  color: #000;
  opacity: 0.8;
  z-index: 999999;
  &-container {
    font-size: 1rem;
    display: flex;
    flex-flow: row wrap;
  }
  &-image {
    color: white;
    font-size: 1.5rem;
  }
  &-message {
    border-left: 1px;
    border-right: 1px;
    border-color: wheat;
  }
  &-top {
    flex-flow: column nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p {
    word-break: break-all;
    white-space: normal;
  }

  button {
    justify-self: flex-end;
    font-weight: 700;
    color: #fff;
    outline: none;
    border: none;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.9;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    background: 0 0;
    border: 0;
  }
}

.top-center {
  top: 0px;
  left: 42%;
  transition: transform 0.6s ease-in-out;
  animation: toast-appear 0.7s;
}

.toast-success {
  background-color: #5cb85c;
}

.toast-danger {
  background-color: #d9534f;
}

.toast-info {
  background-color: #5bc0de;
}

.toast-warning {
  background-color: #f0ad4e;
}

@keyframes toast-appear {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
