input,
label {
  display: block;
  font-size: 2rem;
}

input {
  font-size: 1.5rem;
  margin: 5px;
  padding: 0px 5px;
  line-height: 1.2;
  border-radius: 15px;
  border-color: #e7e7e7;
  border-style: double;
}

#form {
  background-color: #fcfaf9;
  padding: 10px 20px;
  border-color: #e7e7e7;
  border-style: solid;
  border-radius: 20px;
}
.space {
  padding: 10px 20px;
  margin: 0px 10px;
}

.right {
  display: flex;
  justify-content: end;
  padding: 10px;
}

button {
  border-style: double;
  border-color: #e7e7e7;
  background-color: white;
  border-radius: 10px;
}

button:hover {
  background-color: #e7e7e7;
}

h1 {
  font-size: 2.5rem;
}

.center {
  display: flex;
  justify-content: center;
  padding: 10px;
}

@media (min-width: 360px) {
  main {
    display: flex;
    min-height: 80vh;
    place-items: center;
    justify-content: center;
  }
  #form {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-height: 375px) and (max-height: 400px) {
  #app {
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
  }
  #form {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .right {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (min-width: 666px) and (max-width: 700px) {
  #app {
    padding: 0.3rem !important;
  }
}

@media (min-width: 666px) {
  button {
    font-size: 1rem;
  }
  main {
    display: flex;
    justify-content: center;
  }
}
