@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a{
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
